{
  "event_id": "01DDSENEG4JSF8MJBDNCRXYR2N",
  "event_type": "form_response",
  "form_response": {
    "form_id": "qwc891",
    "token": "94afe00b3dbcde92507cc7ccd98e5cc0",
    "landed_at": "2019-06-20T03:25:01Z",
    "submitted_at": "2019-06-20T03:25:14Z",
    "hidden": {
      "pathreference": "campaign/phone-call-assessment",
      "reference": "19117",
      "token": "49fa8923f63de9f65f0fd45fd9086ee1a22b894c6465f3c805aaabf1a3fef40d"
    },
    "calculated": {
      "score": 6
    },
    "definition": {
      "id": "qwc891",
      "title": "Test 01",
      "fields": [
        {
          "id": "uAZ5N8pHJN2x",
          "title": "...",
          "type": "rating",
          "ref": "4f2b78e3-ba40-4cf2-9a06-ef90f877a836",
          "properties": {}
        },
        {
          "id": "zAIwM7gFvX9z",
          "title": "Your Name?",
          "type": "short_text",
          "ref": "var_name",
          "properties": {}
        },
        {
          "id": "O106ugPkVy7H",
          "title": "Gender",
          "type": "multiple_choice",
          "ref": "var_gender",
          "properties": {},
          "choices": [
            {
              "id": "HjrKbwA2EN7n",
              "label": "MALE"
            },
            {
              "id": "I7X4cljpQJ5d",
              "label": "FEMALE"
            }
          ]
        },
        {
          "id": "ngKSQB8CjEHo",
          "title": "Hobbies",
          "type": "multiple_choice",
          "allow_multiple_selections": true,
          "ref": "var_hobbies",
          "properties": {},
          "choices": [
            {
              "id": "teHQnu0Cmp1Z",
              "label": "Singing"
            },
            {
              "id": "XHGA8BnZTtxh",
              "label": "Dancing"
            },
            {
              "id": "Irx1yeuFCPUB",
              "label": "Eating"
            }
          ]
        },
        {
          "id": "q6S6rzUx2yO3",
          "title": "...",
          "type": "rating",
          "ref": "ee0de6a5-3320-490a-a51b-e07b1997b35f",
          "properties": {}
        }
      ]
    },
    "answers": [
      {
        "type": "number",
        "number": 3,
        "field": {
          "id": "uAZ5N8pHJN2x",
          "type": "rating",
          "ref": "4f2b78e3-ba40-4cf2-9a06-ef90f877a836"
        }
      },
      {
        "type": "text",
        "text": "test phone call assessment",
        "field": {
          "id": "zAIwM7gFvX9z",
          "type": "short_text",
          "ref": "var_name"
        }
      },
      {
        "type": "choice",
        "choice": {
          "label": "FEMALE"
        },
        "field": {
          "id": "O106ugPkVy7H",
          "type": "multiple_choice",
          "ref": "var_gender"
        }
      },
      {
        "type": "choices",
        "choices": {
          "labels": [
            "Dancing"
          ]
        },
        "field": {
          "id": "ngKSQB8CjEHo",
          "type": "multiple_choice",
          "ref": "var_hobbies"
        }
      },
      {
        "type": "number",
        "number": 6,
        "field": {
          "id": "q6S6rzUx2yO3",
          "type": "rating",
          "ref": "ee0de6a5-3320-490a-a51b-e07b1997b35f"
        }
      }
    ]
  }
}